In [7]:
n = {1,5,7,22,7,22,"pratish","hello"}
print(n)

{1, 'hello', 5, 22, 7, 'pratish'}

In [9]:
# empty  set

set1 = {}
print(type(set1))
#output : dict

<class 'dict'>

In [10]:
pratish = set()
print(type(pratish))

# its not working in jupiter notebook

TypeError: 'set' object is not callable

In [11]:
set = {1,5,7,22,7,22,"pratish","hello"}
for i in set :
    print(i)

1
hello
5
22
7
pratish

In [13]:
# union 
# in sets apped or add method not working beacuse in sets the elements not sote in sequencial
s1 = {1,5,3,"yash"}
s2 = {8,7,9,"pratish"}

union = s1.union(s2)
print(union)
print(s1)

{1, 3, 5, 7, 8, 9, 'yash', 'pratish'}
{1, 3, 'yash', 5}

In [14]:
# update

update = s1.update(s2)
print(s1)

{1, 3, 5, 7, 8, 9, 'yash', 'pratish'}

In [16]:
x = {1,2,3,4,5}
y = {4,5,6}

#intersection
print(x.intersection(y))

#difference
z = x.difference(y)
print(z)

{4, 5}
{1, 2, 3}

In [2]:
x = {1,2,3,4,5}
y = {4,5,6}
z = {7,8,9}

z = x.isdisjoint(y)
print(z)

False